<footer>
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
                <h3>Explore</h3>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/rentals">Rentals</a></li>
                    <li><a href="/sign-up">Sign Up</a></li>
                    <li><a href="/log-in">Log In</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Social Media</h3>
                <ul class="list-unstyled">
                    <li><a href="https://www.twitter.com">Twitter</a></li>
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact Info</h3>
                <p>By submitting this assignment, I declare that this assignment is my own work in accordance with the
                    Seneca Academic Policy. No part of this assignment has been copied manually or electronically from
                    any other source (including web sites) or distributed to other students.</p>
                <p>&copy; Artom Zabihi, <a href="mailto:azabihi1@myseneca.ca">azabihi1@myseneca.ca</a>, WEB322 Fall 2023
                </p>
            </div>
        </div>
    </div>
</footer>
