<div class="container" style="background-color: #206255">
    <section>
        <h2>Find your perfect rental property, or help others achieve their dreams</h2>
        <p>Explore a wide variety of rental options, from apartments and homes to cottages and more!</p>
    </section>

    <section>
        <h2>Search Rentals</h2>
        <p>Check out our available rentals on our <a href="/rentals">rentals</a> page.</p>
    </section>
</div>
